.check-boxes {
    margin: 10px;
}

.high-abv {
    font-size: 20px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
}

.classic-range {
    font-size: 20px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
}

.high-acidity {
    font-size: 20px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
}

.check-box {
    width: 25px;
}
