@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Rubik+Dirt&display=swap');

* {
  font-family: "Rubik Dirt", "sans-serif";
}

.App {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-areas: 
  "header header header"
  "nav main main"
  "nav main main"
  "nav main main";

}
    
.App-header {
  grid-area: header;
  height: 20vh;
  display: flex;
  justify-content: center;
  background-color: #009BC9;
  

  .logo{
    width: 20%;
    height: 100%;  
}
  
}

.nav-bar {
  grid-area: nav;
  height: 100vh;
  position: sticky;
  top: 0;
  z-index: 100;
}

.main-section {
  
  grid-area: main;
  padding-top: 20px;
}

@media screen and (max-width: 400px) {

  .App {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: 
    "header header header"
    "nav nav nav"
    "main main main"
    "main main main";
  
  }

  .nav-bar {
    height: 40vh;
    position: relative;
  }

}





