@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Rubik+Dirt&display=swap');

* {
  font-family: "Rubik Dirt", "sans-serif";
}

.App {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-areas: 
  "header header header"
  "nav main main"
  "nav main main"
  "nav main main";

}
    
.App-header {
  grid-area: header;
  height: 20vh;
  display: flex;
  justify-content: center;
  background-color: #009BC9;
  

  .logo{
    width: 20%;
    height: 100%;  
}
  
}

.nav-bar {
  grid-area: nav;
  height: 50%;
  position: sticky;
  // top: 0;
  z-index: 100;
}

.main-section {
  
  grid-area: main;
  padding-top: 20px;
}

.new-beer-button {
  display: flex;
  justify-content: center;

  .beer-button {
    margin-top: 20px;
    width: 120px;
    height: 40px;
    border-radius: 12px;
    background-color: #009BC9;
    color: white;
    border: none;
  }

  .beer-button:hover {

    background: black;
    cursor: pointer;
    color: white;
  }
 
}

.new-beer-heading {
  font-size: 18px;
  text-align: center;
}

.new-beer-form {
  display: flex;
  justify-content: center;
  
  .new-beer-submit {
  margin-top: 10px;
  margin-left: 18%;
  width: 120px;
  height: 30px;
  border-radius: 12px;
  background-color: #009BC9;
  color: white;
  border: none;
  }


  .new-beer-submit:hover {
    background: black;
      cursor: pointer;
      color: white;
  }
}

input {
  margin: 5px;
}







@media screen and (max-width: 400px) {

  .App {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: 
    "header header header"
    "nav nav nav"
    "main main main"
    "main main main";
  
  }

  .nav-bar {
    height: 40vh;
    position: relative;
  }

  .new-beer-form, .new-beer-button, .new-beer-heading {
    display: none;
  }

}





